body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: #F7F7F7; //   background: linear-gradient(to bottom right, #166a8f , #DEE1EC); /* Standard syntax */
  //
}

#wrapper {
  background: #F7F7F7;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page-title {
  display: block;
  // margin: -2rem -2rem 2rem;
  padding: 1.53846rem 5rem;
  border-bottom: 1px solid #DEE1EC;
  background: #FFF;
  border-radius: 3px;
  margin-top: 20px;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.1);
}

.content {
  background: #FFF;
  display: block; // margin: -2rem -2rem 5rem;
  padding: 1.53846rem 5rem;
  border-bottom: 1px solid #DEE1EC;
  border-radius: 3px;
  margin-top: 20px;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.1);
}

.page-subtitle {
  display: block;
  color: #FFF;
  margin: auto;
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 7px;
  margin-top: 1px;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

.btn3d {
  position: relative;
  top: -6px;
  border: 0;
  transition: all 40ms linear;
  margin: 10px 2px;
}

.btn3d:active:focus,
.btn3d:focus,
.btn3d:focus:hover {
  -moz-outline-style: none;
  outline: medium none;
}

.btn3d.active,
.btn3d:active {
  top: 2px;

  .btn3d.btn-success {
    box-shadow: 0 0 0 1px #31c300 inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #5eb924, 0 8px 8px 1px rgba(0,0,0,0.5);
    background-color: #78d739;
  }
}

.btn3d.btn-success.active,
.btn3d.btn-success:active {
  box-shadow: 0 0 0 1px #30cd00 inset, 0 0 0 1px rgba(255,255,255,0.15) inset, 0 1px 3px 1px rgba(0,0,0,0.3);
  background-color: #78d739;
}

.main-box {
  flex: 1 0 auto;
}

.table-style {
  background: #60B078;
  color: #FFF;
  text-transform: uppercase;
}

tbody > tr > td:last-child {
  display: flex;
}

.btn-xs {
  margin: 0 2px;
}

.panel-btn {
  display: inline-flex;
}

.del-icon {
  margin-top: -3px;
}

.template-header {
  color: white;
  background: teal;
  font-size: 20px;
  padding: 5px 15px;
  letter-spacing: 4px;
  text-align: center;
  margin: 3px;
}

.item {
  height: 280px;
}

.mobile-bg {
  width: 300px;
}

.img-btn {
  width: 100px;
  margin-left: -200px;
}

.template-body {
  padding: 8px;
}

.template-box {
  padding: 3px;
}

.img-edit {
  width: 150px;
  display: block;
  margin:30px auto;
  height: 140px;

}

.main-panel-template {
  display: block;
  margin-bottom: 35px;
  line-height: 1.42857143;
  background-color: #fff;
  -webkit-transition: border 0.2s ease-in-out;
  -o-transition: border 0.2s ease-in-out;
  transition: border 0.2s ease-in-out;
  padding-left: 0;
  padding-right: 0;
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.35);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.35);
}

.panel-footer-template {
  padding: 10px 15px;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.template-pic {
  width: 100%;
  height: 90px;
}

.template-btn {
  background: indianred;
  color: white;
  padding: 3px;
}
.template-btn:hover{
color: #fff;
background-color: #c9302c;
border-color: #ac2925;
}

.upload-box {
  padding: 25px 50px;
}
.panel-footer-tembox {
  height: 40px;
  background: #f5f5f5;
}
