.footer-copyright {
  background: #3C4254;
  // height: 50px;
  position: relative;
  border-top: 4px solid #60B078;
  color: #FFF;
  min-height: 30px;
  width: 100%;
}

.copyright {
    color: #fff;
    line-height: 30px;
    min-height: 30px;
    padding: 7px 0;
}
.design {
    color: #fff;
    line-height: 30px;
    min-height: 30px;
    padding: 7px 0;
    text-align: right;
}
.design a {
    color: #fff;
}
