.breadcrumb-arrow {
  height: 36px;
  padding: 0;
  line-height: 36px;
  list-style: none;
  background-color: #e6e9ed;
}

.breadcrumb-arrow li:first-child a {
  border-radius: 4px 0 0 4px;
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
}

.breadcrumb-arrow li, .breadcrumb-arrow li a, .breadcrumb-arrow li span {
  display: inline-block;
  vertical-align: top;
}

.breadcrumb-arrow li:not(:first-child) {
  margin-left: -5px;
}

.breadcrumb-arrow li + li:before {
  padding: 0;
  content: "";
}

.breadcrumb-arrow li span {
  padding: 0 10px;
}

.breadcrumb-arrow li a, .breadcrumb-arrow li:not(:first-child) span {
  height: 36px;
  padding: 0 10px 0 25px;
  line-height: 36px;
}

.breadcrumb-arrow li:first-child a {
  padding: 0 10px;
}

.breadcrumb-arrow li a {
  position: relative;
  color: #fff;
  text-decoration: none;
  background-color: #3C4254;
  border: 1px solid #707c8d;
}

.breadcrumb-arrow li:first-child a {
  padding-left: 10px;
}

.breadcrumb-arrow li a:after, .breadcrumb-arrow li a:before {
  position: absolute;
  top: -1px;
  width: 0;
  height: 0;
  content: '';
  border-top: 18px solid transparent;
  border-bottom: 18px solid transparent;
}

.breadcrumb-arrow li a:before {
  right: -10px;
  z-index: 3;
  border-left-color: #3C4254;
  border-left-style: solid;
  border-left-width: 11px;
}

.breadcrumb-arrow li a:after {
  right: -11px;
  z-index: 2;
  border-left: 11px solid #707c8d;
}

.breadcrumb-arrow li a:focus, .breadcrumb-arrow li a:hover {
  background-color: #707c8d;
  border: 1px solid #5a6370;
}

.breadcrumb-arrow li a:focus:before, .breadcrumb-arrow li a:hover:before {
  border-left-color: #707c8d;
}

.breadcrumb-arrow li a:active {
  background-color: #707c8d;
  border: 1px solid #707c8d;
}

.breadcrumb-arrow li a:active:after, .breadcrumb-arrow li a:active:before {
  border-left-color: #707c8d;
}

.breadcrumb-arrow li span {
  color: #3C4254;
}

.btn-glyphicon {
  padding: 8px;
  background: #ffffff;
  margin-right: 4px;
}

.icon-btn {
  padding: 1px 15px 3px 2px;
  border-radius: 50px;
}

.well-header {
  padding: 0;
  margin: 0;
}

.content-boxed {
  position: relative;
  z-index: 10;
  vertical-align: middle;
  text-align: center;
  font-size: 54px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #FFF;
  font-weight: bold;
  display: inline-block;
}

/* NAVBAR */
.dropdown-menu > li > a,
.navbar-custom .navbar-nav > li > a,
.navbar-custom .navbar-nav > .active > a,
.navbar-custom .navbar-header > a,
.navbar-custom .navbar-nav > .active > a,
.navbar-custom .navbar-nav .open .dropdown-menu > li > a {
  color: #FFFFFF;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  -o-transition: all 1s;
  -moz-transition: all 1s;
  -webkit-transition: all 1s;
}

.dropdown-menu > li > a:hover,
.navbar-custom .navbar-nav > li > a:hover, S
.navbar-custom .navbar-nav > .active > a,
.navbar-custom .navbar-header > a:hover,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
  color: #FFFFFF;
  background: #60B078;
}

.navbar-custom {
  background: #3C4254;
  border-bottom: 4px solid #60B078;
  color: #FFF;
  letter-spacing: 1px;
  text-transform: uppercase;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.navbar-custom-r {
  float: right;
  margin-right: -15px;
}

.nav {
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

/* TADA effect */
@-webkit-keyframes tada {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  10%, 20% {
    -webkit-transform: scale(0.9) rotate(-8deg);
    transform: scale(0.9) rotate(-8deg);
  }
  30%, 50%, 70% {
    -webkit-transform: scale(1.3) rotate(8deg);
    transform: scale(1.3) rotate(8deg);
  }
  40%, 60% {
    -webkit-transform: scale(1.3) rotate(-8deg);
    transform: scale(1.3) rotate(-8deg);
  }
  80%, 100% {
    -webkit-transform: scale(1) rotate(0);
    transform: scale(1) rotate(0);
  }
}
@keyframes tada {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  10%, 20% {
    -webkit-transform: scale(0.9) rotate(-8deg);
    transform: scale(0.9) rotate(-8deg);
  }
  30%, 50%, 70% {
    -webkit-transform: scale(1.3) rotate(8deg);
    transform: scale(1.3) rotate(8deg);
  }
  40%, 60% {
    -webkit-transform: scale(1.3) rotate(-8deg);
    transform: scale(1.3) rotate(-8deg);
  }
  80%, 100% {
    -webkit-transform: scale(1) rotate(0);
    transform: scale(1) rotate(0);
  }
}

.faa-tada.animated,
.faa-tada.animated-hover:hover,
.faa-parent.animated-hover:hover > .faa-tada {
  -webkit-animation: tada 2s linear infinite;
  animation: tada 2s linear infinite;
}

.faa-tada.animated.faa-fast,
.faa-tada.animated-hover.faa-fast:hover,
.faa-parent.animated-hover:hover > .faa-tada.faa-fast {
  -webkit-animation: tada 1s linear infinite;
  animation: tada 1s linear infinite;
}

.faa-tada.animated.faa-slow,
.faa-tada.animated-hover.faa-slow:hover,
.faa-parent.animated-hover:hover > .faa-tada.faa-slow {
  -webkit-animation: tada 3s linear infinite;
  animation: tada 3s linear infinite;
}

body {
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background: #F7F7F7;
}

#wrapper {
  background: #F7F7F7;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
}

.page-title {
  display: block;
  padding: 1.53846rem 5rem;
  border-bottom: 1px solid #DEE1EC;
  background: #FFF;
  border-radius: 3px;
  margin-top: 20px;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.1);
}

.content {
  background: #FFF;
  display: block;
  padding: 1.53846rem 5rem;
  border-bottom: 1px solid #DEE1EC;
  border-radius: 3px;
  margin-top: 20px;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.1);
}

.page-subtitle {
  display: block;
  color: #FFF;
  margin: auto;
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 7px;
  margin-top: 1px;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

.btn3d {
  position: relative;
  top: -6px;
  border: 0;
  -webkit-transition: all 40ms linear;
  -o-transition: all 40ms linear;
  transition: all 40ms linear;
  margin: 10px 2px;
}

.btn3d:active:focus,
.btn3d:focus,
.btn3d:focus:hover {
  -moz-outline-style: none;
  outline: medium none;
}

.btn3d.active,
.btn3d:active {
  top: 2px;
}

.btn3d.active .btn3d.btn-success,
.btn3d:active .btn3d.btn-success {
  -webkit-box-shadow: 0 0 0 1px #31c300 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 8px 0 0 #5eb924, 0 8px 8px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 0 1px #31c300 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 8px 0 0 #5eb924, 0 8px 8px 1px rgba(0, 0, 0, 0.5);
  background-color: #78d739;
}

.btn3d.btn-success.active,
.btn3d.btn-success:active {
  -webkit-box-shadow: 0 0 0 1px #30cd00 inset, 0 0 0 1px rgba(255, 255, 255, 0.15) inset, 0 1px 3px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 0 1px #30cd00 inset, 0 0 0 1px rgba(255, 255, 255, 0.15) inset, 0 1px 3px 1px rgba(0, 0, 0, 0.3);
  background-color: #78d739;
}

.main-box {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}

.table-style {
  background: #60B078;
  color: #FFF;
  text-transform: uppercase;
}

tbody > tr > td:last-child {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.btn-xs {
  margin: 0 2px;
}

.panel-btn {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.del-icon {
  margin-top: -3px;
}

.template-header {
  color: white;
  background: teal;
  font-size: 20px;
  padding: 5px 15px;
  letter-spacing: 4px;
  text-align: center;
  margin: 3px;
}

.item {
  height: 280px;
}

.mobile-bg {
  width: 300px;
}

.img-btn {
  width: 100px;
  margin-left: -200px;
}

.template-body {
  padding: 8px;
}

.template-box {
  padding: 3px;
}

.img-edit {
  width: 150px;
  display: block;
  margin: 30px auto;
  height: 140px;
}

.main-panel-template {
  display: block;
  margin-bottom: 35px;
  line-height: 1.42857143;
  background-color: #fff;
  -webkit-transition: border 0.2s ease-in-out;
  -o-transition: border 0.2s ease-in-out;
  transition: border 0.2s ease-in-out;
  padding-left: 0;
  padding-right: 0;
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.35);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.35);
}

.panel-footer-template {
  padding: 10px 15px;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.template-pic {
  width: 100%;
  height: 90px;
}

.template-btn {
  background: indianred;
  color: white;
  padding: 3px;
}

.template-btn:hover {
  color: #fff;
  background-color: #c9302c;
  border-color: #ac2925;
}

.upload-box {
  padding: 25px 50px;
}

.panel-footer-tembox {
  height: 40px;
  background: #f5f5f5;
}

.footer-copyright {
  background: #3C4254;
  position: relative;
  border-top: 4px solid #60B078;
  color: #FFF;
  min-height: 30px;
  width: 100%;
  margin-top: 30px;
}

.copyright {
  color: #fff;
  line-height: 30px;
  min-height: 30px;
  padding: 7px 0;
}

.design {
  color: #fff;
  line-height: 30px;
  min-height: 30px;
  padding: 7px 0;
  text-align: right;
}

.design a {
  color: #fff;
}

.profile-card {
  background-color: #3C4254;
  margin-bottom: 20px;
}

.profile-pic {
  border-radius: 50%;
  position: absolute;
  top: -65px;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 1;
  max-width: 100px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.del-btn {
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #4CB493;
  background: transparent;
}

.header-card {
  font-size: 18px;
  letter-spacing: 1px;
  color: #FFF;
}

.profile-info {
  color: #BDBDBD;
  padding: 25px;
  position: relative;
  margin-top: 15px;
}

.profile-info h2 {
  color: #E8E8E8;
  letter-spacing: 4px;
  padding-bottom: 12px;
}

.profile-info span {
  display: block;
  font-size: 12px;
  color: #4CB493;
  letter-spacing: 2px;
}

.profile-info a {
  color: #4CB493;
}

.profile-info i {
  padding: 15px 35px 0px 35px;
}

.profile-card:hover .profile-pic {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.profile-card:hover .profile-info hr {
  opacity: 1;
}

/* Underline From Center */
.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-box-shadow: 0 0 1px transparent;
  box-shadow: 0 0 1px transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}

.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 52%;
  right: 52%;
  bottom: 0;
  background: #FFFFFF;
  border-radius: 50%;
  height: 3px;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.profile-card:hover .hvr-underline-from-center:before, .profile-card:focus .hvr-underline-from-center:before, .profile-card:active .hvr-underline-from-center:before {
  left: 0;
  right: 0;
  height: 1px;
  background: #CECECE;
}

.well {
  min-height: 20px;
  padding: 0px;
  margin-bottom: 20px;
  background-color: teal;
  border: 1px solid #D9D9D9;
  border-radius: 0px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  border: 0px;
}

.main-thumbnail .caption {
  color: #333;
  padding-left: 0px;
  padding-right: 0px;
}

.icon-style {
  margin-right: 15px;
  font-size: 18px;
  margin-top: 20px;
}

.head-box {
  font-size: 27px;
  margin-left: 15px;
  text-transform: uppercase;
  font-weight: bold;
}

p {
  margin: 3px;
}

.well-add-card {
  margin-bottom: 0px;
  text-align: center;
  padding: 6px;
}

.btn-add-card {
  margin-top: 20px;
}

.main-thumbnail {
  display: block;
  margin-bottom: 20px;
  line-height: 1.42857143;
  background-color: #fff;
  -webkit-transition: border .2s ease-in-out;
  -o-transition: border .2s ease-in-out;
  transition: border .2s ease-in-out;
  padding-left: 0px;
  padding-right: 0px;
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.35);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.35);
  padding: 8px 8px;
}

.main-panel {
  -webkit-transition: border .2s ease-in-out;
  -o-transition: border .2s ease-in-out;
  transition: border .2s ease-in-out;
  min-height: 325px;
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.35);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.35);
}

.btn {
  border-radius: 0px;
}

.btn-update {
  margin-left: 15px;
}

.pic-box {
  display: block;
  padding: 4px;
  margin-bottom: 20px;
  line-height: 1.42857143;
  background-color: #fff;
  -webkit-transition: border .2s ease-in-out;
  -o-transition: border .2s ease-in-out;
  transition: border .2s ease-in-out;
}

.thumbnail {
  border: 0px;
  margin-bottom: 6px;
  margin-top: 6px;
  padding: 0;
}

.text-evt {
  font-size: 18px;
  letter-spacing: 1px;
}

.text-evt-detail {
  font-size: 16px;
  color: lightseagreen;
}

.btn-evt {
  background: #3C4254;
  color: white;
  letter-spacing: 1px;
  font-size: 12px;
}

.btn-evt:hover {
  color: #FFFFFF;
  background: #515972;
}

.del-evt-btn {
  background: #d9534f;
  color: #FFF;
  font-size: 12px;
  letter-spacing: 1px;
}

.del-evt-btn:hover {
  color: #fff;
  text-decoration: none;
  background: #c9302c;
}

.pic-cas-top {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 80px;
  height: 80px;
  opacity: 0.6;
  z-index: 1;
}

.pic-cas-buttom {
  position: absolute;
  bottom: 15px;
  right: 15px;
  width: 80px;
  height: 80px;
  opacity: 0.6;
  z-index: 1;
}
